.container {
	display: flex;
	justify-content: space-between;
}

.data {
	flex-direction: column;
}
.img {
	display: block;
	max-width: 100%;
	height: auto;
}
.list {
	list-style: none;
	padding-left: 0;
	margin: 0;
}
